.Container {
    position: fixed;
    right: 0;
    top: 60%;
}

.StickyBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0px 0px 8px;
    padding: 5px 2px 5px 5px;
    cursor: pointer;
}

.Checklist {
    background: #0E8CFF;
    margin-bottom: 8px;
}

.List {
    background: #6248FF;
    border-radius: 8px 0px 0px 8px;
}