.Container {
  background-color: var(--bg-primary);
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1);
}

.Container:hover {
  transform: scale(1.01);
}

.CardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CardHeaderInfo {
  display: flex;
  align-items: center;
}

.CardHeaderInfoColor {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 4px;
}

.CardHeaderInfoText {
  font-weight: var(--font-normal);
  font-size: 11px;
  line-height: 12px;
  opacity: 0.6;
}

.CardHeader svg {
  width: 14px;
  height: 14px;
  opacity: 0.6;
  margin-bottom: 4px;
}

.CardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CardInfoText {
  font-weight: 500;
  font-size: var(--text-size-s);
  line-height: 15px;
  opacity: 0.8;
  margin-bottom: 8px;
}

.CreatedDateText {
  padding: 2px 4px;
  background-color: rgba(7, 15, 33, 0.08);
  border-radius: 4px;
  opacity: 0.5;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  margin-top: 8px;
}

.CardTags {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
}

.TagColorText {
  padding: 0px 4px 2px;
  border-radius: 8px;
  font-weight: var(--font-normal);
  font-size: 10px;
  line-height: 10px;
  opacity: 0.8;
  min-width: 30px;
  min-height: 5px;
}
