.NavContainer {
    background-color: var(--bg-primary);
    padding: 17px 30px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    max-height: 76px;
    height: 100%;
    border-bottom: var(--border);
}