.Container {
    padding: 6px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Container svg {
    opacity: 1;
    width: 18px;
    height: 18px;
}