.Container {
    padding: 16px 15px;
}

.MenuWrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 14px 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
    opacity: 0.6;
}

.MenuWrapper:hover {
    background-color: var(--bg-hover-color);
    opacity: 1;
}

.Active {
    opacity: 1;
}

.Title {
    font-size: var(--text-size-l);
    font-weight: var(--font-normal);
    color: var(--primary-text-color);
    line-height: 20px;
}